<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success text-center" data-localize="cart.added" {{#if noSucMessage}}hidden{{/if}}>
            {{sucMsg}}
        </div>
    </div>
</div>
<section class="introHead">
    <h1 data-localize="shop.intro">HAPPY SHOPPING!</h1>
</section>
<nav class="product-categories">
    <ul>
        {{# each items.categories}} 
            <li>
                <a href="/shop/{{this.categoryName}}">{{this.categoryName}}</a>
            </li>
        {{/each}}
    </ul>
</nav>
<section id="new-arrivals" class="shop-section">

    
    <div class="row">
        {{# each items.products}} 
            <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6 product">
                <div class="image">
                    <img src="/{{this.mainImagePath}}" alt="Product image">
                    <div class="hover">
                        <a href="shop/product/{{this.id}}" data-localize="index.viewbtn">View more</a>
                    </div>
                </div>
            <h3>{{this.title}}</h3>
            <p>€ {{this.price}}</p>
            </div>
        {{/each}}
        {{#unless items.products}}
            <p>&nbsp;</p>
            <h2 data-localize="shop.notfound">NONE OF THE PRODUCTS FOUND HERE</h2>
        {{/unless}}
    
    </div>
</section>